{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": "eslint-config-yandex",
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"react"
	],
	"rules": {
		"indent": 0,
		"one-var": 0,
		"no-mixed-spaces-and-tabs": 0,
		"linebreak-style": 0
	}
}
