.page-main {
	display: flex;
	justify-content: flex-end;
}

h1 {
	font-size: 50px;
	letter-spacing: 2.2px;
}

.page-main__preview {
	position: relative;
	@include clearfix;
	margin-bottom: 83px;
}

.page-main__preview-info {
	padding-top: 57px;
	position: relative;
	z-index: 2;
}

.page-main__preview-bg {
	position: absolute;
	right: -23px;
	top: 1px;
}

.page-main__preview-title {
	font-size: 24px;
	letter-spacing: 1.1px;
	margin-bottom: 20px;
	width: 480px;
}

.page-main__preview-text {
	font-family: Roboto, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.42;
	letter-spacing: 0.5px;
	width: 420px;
}

.page-main__content {
	overflow: hidden;
}

.page-main__info {
	@include clearfix;
	position: relative;
	&-text {
		position: relative;
		z-index: 2;
		padding-left: 14px;
		width: 500px;
		font-size: 24px;
		letter-spacing: 1.1px;
		color: $green;
		border-left: 1px solid $green;
	}
	&-bg {
		position: absolute;
		z-index: 1;
	}
	&--one {
		margin-bottom: 144px;
		.page-main__info-text {
			padding-top: 600px;
		}
		.page-main__info-bg {
			top: 311px;
			right: -5px;
		}
	}
	&--two {
		margin-bottom: 101px;
		.page-main__info-text {
			padding-top: 480px;
		}
		.page-main__info-bg {
			top: 339px;
			right: -5px;
		}
	}
	&--three {
		margin-bottom: 107px;
		.page-main__info-text {
			padding-top: 633px;
		}
		.page-main__info-bg {
			top: 338px;
			right: -5px;
		}
	}
	&--four {
		margin-bottom: 107px;
		.page-main__info-text {
			width: 570px;
			padding-top: 637px;
		}
		.page-main__info-bg {
			top: 338px;
			right: -5px;
		}
	}
	&--five {
		margin-bottom: 520px;
		.page-main__info-text {
			padding-top: 606px;
			width: 570px;
		}
		.page-main__info-bg {
			top: 338px;
			right: -5px;
		}
	}
}
